@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Bem vindo!</h1>
    <h2>POC utilizando banco de dados MySQL e cache com Redis.</h2>
    <h2>Estratégia de Cache com Decorator Pattern e utilização de Scrutor para registro do decorator</h2>
</div>

